<div class="tile">
    <h2>Umfragewerte</h2>
    <app-bar name="CDU/CSU"
        [value]="results.selectedQuelle().cducsu"
        [barValue]="results.selectedQuelle().cducsu / maxValue()"
        color="#121212"></app-bar>
    <app-bar name="SPD"
        [value]="results.selectedQuelle().spd"
        [barValue]="results.selectedQuelle().spd / maxValue()"
        color="#e3000f"></app-bar>
    <app-bar name="Grüne"
        [value]="results.selectedQuelle().gruene"
        [barValue]="results.selectedQuelle().gruene / maxValue()"
        color="#005437"></app-bar>
    <app-bar name="FDP"
        [value]="results.selectedQuelle().fdp"
        [barValue]="results.selectedQuelle().fdp / maxValue()"
        color="#ffe209"></app-bar>
    <app-bar name="AfD"
        [value]="results.selectedQuelle().afd"
        [barValue]="results.selectedQuelle().afd / maxValue()"
        color="#009ee0"></app-bar>
    <app-bar name="Linke"
        [value]="results.selectedQuelle().linke"
        [barValue]="results.selectedQuelle().linke / maxValue()"
        color="#F00"></app-bar>
    <app-bar name="BSW"
        [value]="results.selectedQuelle().bsw"
        [barValue]="results.selectedQuelle().bsw / maxValue()"
        color="#8112B4"></app-bar>
    <app-bar name="Sonstige"
        [value]="results.selectedQuelle().sonstige"
        [barValue]="results.selectedQuelle().sonstige / maxValue()"
        color="#E8E8E8"></app-bar>
</div>