<div class="tile" id="barchart">
    <h2>Umfragewerte</h2>
    <app-bar name="CDU/CSU"
        [value]="results.selectedPollResult().cducsu"
        [barValue]="results.selectedPollResult().cducsu / maxValue()"
        color="#121212"></app-bar>
    <app-bar name="SPD"
        [value]="results.selectedPollResult().spd"
        [barValue]="results.selectedPollResult().spd / maxValue()"
        color="#e3000f"></app-bar>
    <app-bar name="Grüne"
        [value]="results.selectedPollResult().gruene"
        [barValue]="results.selectedPollResult().gruene / maxValue()"
        color="#005437"></app-bar>
    <app-bar name="FDP"
        [value]="results.selectedPollResult().fdp"
        [barValue]="results.selectedPollResult().fdp / maxValue()"
        color="#ffe209"></app-bar>
    <app-bar name="AfD"
        [value]="results.selectedPollResult().afd"
        [barValue]="results.selectedPollResult().afd / maxValue()"
        color="#009ee0"></app-bar>
    <app-bar name="Linke"
        [value]="results.selectedPollResult().linke"
        [barValue]="results.selectedPollResult().linke / maxValue()"
        color="#F00"></app-bar>
    <app-bar name="BSW"
        [value]="results.selectedPollResult().bsw"
        [barValue]="results.selectedPollResult().bsw / maxValue()"
        color="#8112B4"></app-bar>
    <app-bar name="Sonstige"
        [value]="results.selectedPollResult().sonstige"
        [barValue]="results.selectedPollResult().sonstige / maxValue()"
        color="#E8E8E8"></app-bar>
</div>