.footer-copyright {
    display: flex;
    flex-direction: column;
    gap: 0.875em;
    color: var(--tile-bg);
    font-weight: 400;
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: var(--monospace-font);
}

a {
    color: #E8E8E8;
}