@if (this.results.isDataAvailable()) {
<div [@fadeAnimation]>
  <router-outlet></router-outlet>
  <div class="section footer">
    <div class="container">
      <h1><a routerLink="/" style="text-decoration: none">Wahlpuls.de</a></h1>
      <div class="grid">
        <div class="grid-column">
          <p>
            In diesem Dashboard findest Du aktuelle Wahlumfragen zur Bundestagswahl 2029. Mit den regelmäßig
            veröffentlichten Daten von renommierten Umfrageinstituten bekommst Du einen kompakten Überblick über die
            Umfragewerte der deutschen Parteien im Bundestag.
          </p>
          <p>
            Dazu durchsucht Wahlpuls.de automatisiert verschiedene Online-Quellen und zeigt Dir die Ergebnisse in
            übersichtlichen Diagrammen an. Die Seite ist ein reines Hobby-Projekt zur kostenlosen und werbefreien
            Nutzung. Anregungen und Feedback nehme ich gerne unter <a
              href="mailto:hallo@wahlpuls.de">hallo&#64;wahlpuls.de</a> entgegen.
          </p>
          <div>
            <a routerLink="/impressum">Impressum</a>
          </div>
        </div>
        <div class="footer-copyright">
          <p>🤝 Non-Profit-Projekt </p>
          <p>Gebaut mit 🫶 in OWL </p>
        </div>
      </div>
    </div>
  </div>
</div>
}