.bar-item {
    display: flex;
    flex-direction: column;
    margin: 1.2em 0em 0em 0em;
    gap: 0.1em;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out;
}

.bar-item.disabled {
    opacity: 0.5;
}

.label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    gap: 0.5em;
}

.party {
    flex-shrink: 0;
}

.value {
    flex-shrink: 0;
}

.bar {
    width: 100%;
    height: var(--bar-height);
}

.bar-inner {
    border-radius: 0.25em var(--border-radius-small) var(--border-radius-small) 0.25em;
    height: 100%;
}